* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
# Vue-Dateien als Vue erkennen
*.vue linguist-detectable=true
*.vue linguist-language=Vue

# Blade-Dateien als PHP z‰hlen
*.blade.php linguist-language=PHP

# Vendor & Node ignorieren
node_modules/* linguist-vendored
vendor/* linguist-vendored

# Nur Tailwind CSS im public ausschlieﬂen
public/css/tailwind/* linguist-vendored
