/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/images/images/orig
/storage/*.key
README.md
/vendor
.env
*.bat
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
README.md
CHANGELOG.md
INSTALL.md
backup.sql
*.ps1
*.yml
copy_to_docker.ps1
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
handbook/
handbook_admin/.vitepress/dist
handbook_admin/.vitepress/cache
