* text=auto eol=lf

*.blade.php diff=php
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
# Vue-Dateien als Vue erkennen
*.vue linguist-detectable=true
*.vue linguist-language=Vue
# test

# Vendor & Node ignorieren
node_modules/* linguist-vendored
vendor/* linguist-vendored

# Nur Tailwind CSS im public ausschließen
public/css/tailw/* linguist-vendored
