**/orig
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
README.md
/vendor
.env
*.bat
*.sh
*.yml
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
README.md
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
handbook/
storage/logs
handbook_admin/.vitepress/dist
handbook_admin/.vitepress/cache
database/migrations/2025_06_28_000000_create_tenants_table.php_old
database/migrations/2025_06_15_132002_add_commentedit_to_users_rights_table.php_old
